@import '../../styles/variables.scss';

.dropdown {
  padding: 5px 0;

  &.open{
    :global(.dropdown-icon.ss-icon:before){
      content:"▴";
    }
  }

  & > button {
    width: 100%;
    text-align: left;
  }

  :global(.caret) {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -1px;
  }
}
.container {
  padding-top: 55px;
}
